{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}
<div id="root" class="w-full h-full"></div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags(controller_name) }}
{% endblock %}
